#clock {
    display: flex;
    justify-content: center;
}
/* changed clock img to face */
#face {
    text-align: center;
    position: relative;
    z-index: -3;
}

#hour {
    justify-content: center;
    position: absolute;
    transform: rotate;
    
}

#minute {
    justify-content: center;
    position: absolute;
    transform: rotate;

}

#second {
    justify-content: center;
    position: absolute;
    transform: rotate;

}
